/* CSS for index.html */

@media (min-width: 900px) {
	html {
		background: url(../img/background.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

a {
	cursor: pointer;
	color: #444;
}

.active-tab {
	color: black;
}

#content {
	background-color: rgba(255, 255, 255 , 0.8);
	margin: 1em;
	padding: 1em;
	font-family: sans-serif;
	font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: .5em 0;
}

input, button, select, textarea{
	padding: .5em;
	border : none;
	background-color: #ddd;
	width: 100%;
	max-width: 400px;
}

.list-editor .item-row td {
	padding : 0;
}

.list-editor input,
.list-editor button,
.list-editor select {
	background-color: transparent;
}

td input,
td select,
td button {
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button.del {
	min-width: 0;
}

table {
	min-width: 50%;
}

textarea {
	width: 100%;
	min-height: 300px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #777;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #777;
}


.list-view {
	background : white;
}
.item-row td,
.list-view th {
	padding: 0.5em 1em;
	border: 1px solid #ddd;
	border-top : 0;
}
.item-row {
	background-color: #fff;
}
.item-row:nth-child(even) {
	background-color: #ddd;
	border-color: #ccc;
}
.item-row:first-child {
	border-top: 1px solid #ccc;
}

.contact td {
	padding: 0.5em 1em;
	vertical-align: text-top;
}

.item-row__source {
	min-width: 110px;
}

.error {
	color: red;
}

.die {
	width: 1em;
	height: 1em;
	color: black;
	cursor: pointer;
}
